<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trading System - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<!---------------------- Header ------------------------------------------>

<body>
    <header>
        <h1>Stock Trading System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('pages.index') }}">Home</a></li>
                <li><a href="{{ url_for('pages.login_page') }}">Login</a></li>
                <li><a href="{{ url_for('pages.register_page') }}">Register</a></li>
                <li><a href="{{ url_for('pages.portfolio_page') }}">Portfolio</a></li>
                <li><a href="{{ url_for('pages.trade_page') }}">Trade</a></li>
                <li><a href="{{ url_for('pages.transactions_page') }}">Transactions</a></li>
                <li><a href="{{ url_for('pages.deposit_withdraw_page') }}">Deposit/Withdraw</a></li>
                <li><a href="{{ url_for('pages.admin_page') }}">Admin</a></li>
                <li>
                    <form id="logout-form" class="nav-logout-form">
                        <button type="submit" id="logout-button" class="nav-logout-button">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <!---------------------- Main Content ----------------------------------->
    <main>
        <section id="cash-balance">
            <h2>Cash Balance</h2>
            <p>$0.00</p>
        </section>

        <section id="owned-stocks">
            <h2>My Stocks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Shares</th>
                        <th>Average Price</th>
                        <th>Current Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <!----------------------- Footer ----------------------------------------->
    <footer>
        <p>&copy; 2025 Stonk Trade</p>
    </footer>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>
</body>

</html>