<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trading System - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<!---------------------- Header ------------------------------------------>

<body>
    <header>
        <h1>Stock Trading System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('pages.index') }}">Home</a></li>
                <li><a href="{{ url_for('pages.login_page') }}">Login</a></li>
                <li><a href="{{ url_for('pages.register_page') }}">Register</a></li>
                <li><a href="{{ url_for('pages.portfolio_page') }}">Portfolio</a></li>
                <li><a href="{{ url_for('pages.trade_page') }}">Trade</a></li>
                <li><a href="{{ url_for('pages.transactions_page') }}">Transactions</a></li>
                <li><a href="{{ url_for('pages.deposit_withdraw_page') }}">Deposit/Withdraw</a></li>
                <li><a href="{{ url_for('pages.admin_page') }}">Admin</a></li>
                <li>
                    <form id="logout-form" class="nav-logout-form">
                        <button type="submit" id="logout-button" class="nav-logout-button">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <!---------------------- Main Content ----------------------------------->
    <main>
        <section id="register-section">
            <h2>Create an Account</h2>
            <p id="register-message"></p>
            <form id="register-form-element">
                <label for="full_name">Full Name:</label>
                <input type="text" id="full_name" name="full_name" placeholder="Enter your full name" required>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Choose a username" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password"
                                                                                                                    required>
                <label for="is-admin">Admin Account:</label>
                <input type="checkbox" id="is-admin" name="is-admin">



                <button type="submit">Register</button>
            </form>
            <p id="login-message"></p>
            <p>Already have an account? <a href="{{ url_for('pages.login_page') }}">Login here</a></p>
        </section>
    </main>

    <!----------------------- Footer ----------------------------------------->
    <footer>
        <p>&copy; 2025 Stonk Trade</p>
    </footer>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>